<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>50/50</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/skeleton.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
    <meta name="description" content="What percentage of responders will enter a number less than or equal to 50 for this question?" />
    <meta property="og:title" content="50/50" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://5050.mingjie.dev/" />
    <meta property="og:image" content="https://5050.mingjie.dev/static/5050.png" />
    <meta property="og:description" content="What percentage of responders will enter a number less than or equal to 50 for this question?" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@itsmingjie" />
    <meta name="twitter:creator" content="@itsmingjie" />
</head>

<body>
    <div class="container">
        <form action="/submit" method="POST" style="margin-top: 15vh;">
            <h1 style="font-size: 3rem; margin-bottom: 1rem; font-weight: 800;">Random Question... uwu</h1>
            <p style="font-size: 2rem; margin-bottom: 1rem; font-weight: 800;">What percentage of responders will enter a number less than or equal to 50 for this question? </p>
            <p style="margin-bottom: 1rem;">Enter a real number between 0 and 100. Make any assumptions as you like, and don't overthink it!</p>
            <p style="font-weight: 600;">Please only fill out this form once. Duplicated attempts will be removed.</p>
            <p style="margin-bottom: 0;"><input style="width: 80%;" type="number" min=0 max=100 name="value" placeholder="Your Guess [0, 100]" /></p>
            <p style="margin-bottom: 0;"><input style="width: 80%;" type="email" name="email" placeholder="Optional: Email For Results" /></p>
            <button type="submit" class="button-primary">Submit</button>
            <br />
            <br />
            <p style="margin-bottom: 1rem; font-weight: 600;">✨ Made by <a href="https://mingjie.dev" target="_blank" rel="noopen">Mingjie Jiang</a>, idea by <a href="https://github.com/JShermanSteele" target="_blank" rel="noopen">Julie Steele</a> ✨</p>
            <p><a href="https://github.com/itsmingjie/5050" target="_blank" rel="noopen">Open Source</a></p>
        </form>
    </div>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
        (function (f, a, t, h, o, m) {
            a[h] = a[h] || function () {
                (a[h].q = a[h].q || []).push(arguments)
            };
            o = f.createElement('script'),
                m = f.getElementsByTagName('script')[0];
            o.async = 1; o.src = t; o.id = 'fathom-script';
            m.parentNode.insertBefore(o, m)
        })(document, window, '//analytics.mingjie.dev/tracker.js', 'fathom');
        fathom('set', 'siteId', 'LMMAN');
        fathom('trackPageview');
    </script>
    <!-- / Fathom -->
</body>

</html>