<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <title>50/50</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/skeleton.css" />
</head>

<body>
    <form action="/submit" method="POST" style="padding: 2rem">
        <h1 style="font-size: 3rem; margin-bottom: 1rem; font-weight: 600;">Random Question</h1>
        <p style="margin-bottom: 1rem;">What percent of responders will enter a percent less than or equal to 50% for this question? </p>
        <p style="margin-bottom: 1rem;">Enter a real number between 0 and 100. Make any assumptions as you like, and don't overthink it!</p>
        <p>Please only fill out this form once. Duplicated attempts will be removed.</p>
        <p style="margin-bottom: 0;"><input style="width: 80%;" type="number" min=0 max=100 name="value" placeholder="Your Guess [0, 100]" /></p>
        <p style="margin-bottom: 0;"><input style="width: 80%;" type="email" name="email" placeholder="Optional: drop your email here to receive results!" /></p>
        <button type="submit" class="button-primary">Submit</button>
        <p>Made by Mingjie Jiang, idea by Julie Steele.</p>
    </form>
</body>

</html>